/* src/index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.container {
    max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    
}

.centre {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}


input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 10px 20px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 10px 20px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

option {
    padding: 10px;
}

.fastAccess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    background-color: #007bff;; 
    width: 10vh;
    text-align: center;
    border-radius: 24px;
}

.fastAccess a {
    color: white;
    text-decoration: none;
}

.fastAccess a:hover {
    color: #0056b3;
}

.row {
    display: flex;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    background-color: #007bff;; 
    width: 100%;
    flex-direction: column;
    border-radius: 24px;
}

.heading {
    color: white;
    font-size: large;
    font-weight: bold;
}

.data {
    color: white;
    font-size:xx-large;
}

img {
    width: 50%;
    max-width: 20vh;
    height: auto;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    max-width: 90%;
    margin: 1vh auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.message {
    margin-bottom: 15px;
}

.own-message {
    text-align: right;
}

.message-info {
    margin-bottom: 5px;
}

.timestamp {
    color: #888;
    font-size: 0.9em;
}

.message-text {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.own-message .message-text {
    background-color: #007bff;
    color: white;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
}